<%= form_with(model: user, local: true, validate: true) do |form| %>

  <div class="row">
  <div class="col-md-6">
      <div class="form-group">

  <div class="field">
    <%= form.label :name, class: "control-label" %>
    <%= form.text_field :name, id: :user_name, class: "form-control", placeholder: "Teacher Name" %>
  </div>
</div>
</div>
</div>

<div class="row">
  <div class="col-md-6">
      <div class="form-group">
  <div class="field">
    <%= form.label :email,  class: "control-label" %>
    <%= form.text_field :email, id: :user_email, class: "form-control", placeholder: "EmailId" %>
  </div>
  </div>
</div>
</div>


 <div class="row">
  <div class="col-md-6">
      <div class="form-group">
  <div class="field">

    <%= form.label :password, class: "control-label" %>
    <%= form.password_field :password_digest, id: :user_password_digest, class: "form-control", placeholder: "Password" %>
  </div>
</div>
</div>
</div>

 <!--  <div class="field">
    <!%= form.label :role %>
    <!%= form.text_field :role, id: :user_role %>
  </div>
 -->

  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 save-btn ">
        <%= link_to 'Back', users_path, class: "btn btn-primary submit sub_button" %>
        <%= button_tag(type: "submit", class: "btn btn-success 
         submit sub_button") do %>
        Save
        <% end %>
      </div>
    </div>

  <!-- <div class="actions">
    <!%= form.submit %>
  </div> -->
<% end %>
