<p id="notice"><%= notice %></p>

<h1>Teacher's  <%= link_to 'New Teacher', new_user_path, class: "btn btn-success pull-right" %>
</h1>

<table id="customer_index" class="table display table-hover table-striped display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
     <!--  <th>Password digest</th> -->
      <th>Role</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
       <!--  <td><!%= user.password_digest %></td> -->
        <% if user.role == '1'%>
        <td>Admin</td>
        <%elsif user.role == '2' %>
        <td>Teacher</td>
        <%end%>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<script type="text/javascript">
$(document).ready(function() {
  $("#customer_index").dataTable({
   "scrollY": "50vh",
        "scrollX": true,
    columnDefs: [
]
  });
});


    </script>
