<div class="row">
<div class="col-md-6">

<h6><lable>YOUR NAME:</lable> <%= @user.name%></h6>
</div>
<div class="col-md-6">
<h6><lable>SUBJECT:</lable> <%= @subject.subject_name%></h6>
</div>
</div>

<h1>Users</h1>

<table id="customer_index" class="table display table-hover table-striped display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Subject</th>
      <th>Mark</th>
     <!--  <th>Password digest</th> -->
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.student.name %></td>
        <td><%= report.subject.subject_name %></td>

       <!--  <td><!%= user.password_digest %></td> -->
        <!-- <td><!%= link_to 'Show', user %></td>
        
        <td><!%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %> -->
        <%if report.mark == nil %>
        <td>0</td>
        <%else%>
        <td><%=report.mark%></td>
        <%end%>

        <td><%= link_to 'Mark', edit_report_path(report) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
<style type="text/css">
  h6{
   color :#ce1212
  }
</style>