<%= form_with(model: subject, local: true) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :subject_name %>
    <%= form.text_field :subject_name, id: :subject_subject_name %>
  </div>

  <div class="field">
    <%= form.label :subject_code %>
    <%= form.text_field :subject_code, id: :subject_subject_code %>
  </div>

  <div class="field">
    <%= form.label :is_finished %>
    <%= form.check_box :is_finished, id: :subject_is_finished %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
<!--     <!%= form.text_field :user_id, id: :subject_user_id %> -->
   <!--  <!%= select_tag "user_id" ,options_from_collection_for_select(User.where(role: '2') , "id", "name"), id: "job_card_service_incharge", class: "form-control  customer_select", include_blank: "select" %> -->
    <%= form.collection_select :user_id, User.where(role: '2'),:id,:name, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
