<!DOCTYPE html>
<html>
  <head>
    <title>SchoolProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if session[:user_id].present?%>
        <div class="wrapper">
        	
     <!--      <!%= render partial: "layouts/sidebar"%> -->
          <div class="page">
        <!--  <!%= render partial: "layouts/header"%> -->
         <a href="<%=log_out_path%>" class="nav-link logout">Logout <i class="fa fa-power-off"></i></a>
           <main role="main" class="pt-3 col-lg-12 custome_main_container">  
            <%= yield %>
          </main>
       
      <br>
      <br>
<!--       <!%= render partial: "layouts/footer"%> -->
       </div>
     </div>
    <% else %>
      <%= yield %>
    <% end %>

<!--     <!%= yield %> -->
  </body>
</html>
